.avatar {
    border-radius: 50%;
    width: 30%;
    height: auto;

    composes: spin from '../App.css';
    animation-direction: alternate;
}

.avatar:nth-child(odd) {
    animation-direction: alternate-reverse;
}
