.avatar {
    border-radius: 50%;
    width: 30%;
    max-width: 340px;
    height: auto;

    composes: spin from '../App.css';
    animation-direction: alternate;
}

.avatar:nth-of-type(odd) {
    animation-direction: alternate-reverse;
}
